doctype html
html(lang="en")
  head
    title Items Exchange
    link(href="bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    .container#container

    include ./modal

    script(src="jquery/dist/jquery.min.js")
    script(src="bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js")
