.row
  .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    h1 Let's Make a Deal!
    .conatiner#LetsMakeADeal
    h3.text-center Please Login
    hr.colorgraph
    form#login(action='#', method='post')
      fieldset
        .fields
          input#username(type='text', placeholder='Username', required, autofocus)
        .fields
          input#password(type='password', placeholder='Password', required)
        .fields
          .col-sm-6
            button.btn.btn-md.btn-primary.btn-block#login-register(type='button')
              i.fa.fa-times
              |  Register
          .col-sm-6
            button.btn.btn-md.btn-success.btn-block.confirm(type='submit')
              i.fa.fa-check
              |  Login
          .container
