div#container {
  margin-top: 30px;
  margin-right: auto;
}

hr.separator {
  margin-bottom: 5px;
}

td.icon {
  width: 1px;
  padding: 0px;
}

td.text {
  padding-left: 5px;
  padding-right: 5px;
}

table.items {
  margin: 0;
}

table.items tr {
  border-top: 1px solid #999999;
}

table.items td {
  padding-top: 10px;
}

table.items td.name {
  width: 15%;
}

table.items td.description {
  width: 70%;
}

table.items td.location {
  width: 15%;
  overflow: hidden;
}

table.items td.picture {
  padding: 0;
  width: 0;
  width: 10%;
}

table.items td.onsale {
  width: 0;
  font-weight: bold;
}

table.items td.btn-edit {
  width: 0;
  padding: 0;
}

table.items img.thumb {
  max-height: 30px;
  border: 0;
  border-radius: 3px;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.review,
div.fields {
  margin: 0px 0px 15px 0px;
}

select.item {
  background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP5JREFUeNpi/P//PwMlgImBQjDwBrCgC9jPfQGmGRkZZwIJY4b//88CwykdJHYwWYKwC37/+gXGv37+NI5yFzMG0TAxolzw4dUrBg5ubjD7DVDPj69fwWwILUfYgK+fPgJt/8HAysbOcB+o5/uXL0DbfzL8/vmTuED8/+//TKDiM98+f2J4CDQARIP4IHGiDPjx7dvhb58+M1jEOhs//MbAoBPpbAzig8SxOgGUEpExl1EEA6dzTQx35JIzOgf//wfRID5IHF0tOBVjCECAArNJagmL/6wzIBrI1wFiNmwGMKLnBWD8gygBIOZCEv4DxG+Bav+i+4Bx6GcmgAADAAiPsgkULyM8AAAAAElFTkSuQmCC) right no-repeat;
  color: #2b3e50;
  padding: 2px;
  border-radius: 0px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}

div.fields>input {
  outline: none;
  width: 100%;
}

button#home-list {
  margin-top: 15px;
}

i.fa {
  font-size: 22px;
}

img#avatar {
  max-height: 200px;
}

div.review {
  border: 1px solid #cccccc;
}

span.review-text {
  font-weight: bold;
  font-style: italic;
}

.spacing {
  padding-bottom: 50px;
}

